<% include partials/header %>
<link rel="stylesheet" href="/css/contact.css">
<div style="background-color:dimgray" id="contactDiv">
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 align-middle" style="height:85%">
            <div class="row card shadow-sm" style="height:98%">
                <div class="col-sm-8 offset-sm-2" style="margin-top: 10px;">
                    <h3 style="text-align: center">Contact us</h3>
                    <br/>
                    <br/>
                    <p style="font-weight: bold">SRH University Heidelberg</p>
                    <span><strong>Address:</strong> Ludwig-Guttmann-Straße 6, 69123 Heidelberg, Deutschland</span>
                    <br/>
                    <span><strong>Phone:</strong> +49 6221 88-1000</span>
                    <br/>
                    <span><strong>Email:</strong> info@stud.hochschule-heidelberg.de</span>
                    <br/>
                    <span><strong>Website:</strong> <a href="https://www.hochschule-heidelberg.de/en/homepage/">https://www.hochschule-heidelberg.de/en/homepage/</a></span>
                    <br/>
                    <a href="https://www.facebook.com/SRHHochschuleHD/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/srhhochschulehd" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/channel/UCnhrOdv_zcYbDOeWEfoUecA" class="fa fa-youtube"></a>
                    <a href="https://www.instagram.com/hsheidelberg/" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>