<% include partials/header %>
<div style="background-color:dimgray" id="forgotDiv">
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 align-middle" style="height:100%">
            <div class="row card shadow-sm" style="height:98%">
                <div class="col-sm-8 offset-sm-2" style="margin-top: 10px;">
                    <form action="/users/forgot" method="POST" enctype='application/json'>
                        <h3 style="text-align: center">Forgot password? </h3>
                        <div class="form-group">
                            <label for="emailAddress">Email address</label>
                            <input type="email" name="email" class="form-control" id="emailAddress" placeholder="Enter your email address"
                                required="true">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Sent Token">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>