<% include partials/header %>
<br>
<div class=" product_view" id="product_view">

    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
    <h3 class="d-inline-block mb-2 text-primary">{{literature.title}}</h3>
    <span> By </span><span v-for="author in literature.authors">{{author}}, </span>
</span>
    <h6 class="card-text mb-auto" style="margin-top:10px">{{literature.summary}}</h6>
</div>

    <div class="row">
        <div class="col-md-6 product_img">
            <img src="../assets/images/booksimage.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 product_content">
            <h4>Product Id: <span>51526</span></h4>
            <div class="rating">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                (10 reviews)
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <select class="form-control" name="select">
                        <option value="" selected="">rent</option>
                        <option value="rate">rate</option>
                    </select>
                </div>
                <!-- end col -->


                <div class="col-md-4 col-sm-12">
                    <select class="form-control" name="select">
                        <option value="" selected="">QTY</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>
                <!-- end col -->
            </div>
            <div class="space-ten"></div>
            <div class="btn-ground">
                <button v-on:click="addtoCart" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span>
                    Add To Cart</button>
                <button v-on:click="addtoWishlist" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span>
                    Add To Wishlist</button>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>