<% include partials/header %>
<div style="background-color:dimgray" id="resetDiv">
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 align-middle" style="height:100%">
            <div class="row card shadow-sm" style="height:98%">
                <div class="col-sm-8 offset-sm-2" style="margin-top: 10px;">
                    <form method="POST">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Please provide new password" required="true">
                        </div>
                        <div class="form-group">
                            <label for="cpassword">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm" id="cpassword" placeholder="Please confirm the password" required="true">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>