<% include partials/header %>
<div id="welcome">
    <div class="row searchFilter" style="margin-top: 10px">
        <div class="col-sm-8 offset-sm-2">
            <div class="input-group">
                <input id="table_filter" type="text" class="form-control" placeholder="Search" v-model="searchSelection.query">
                <select v-model="searchSelection.queryType">
                    <option v-for="queryType in searchSelection.queryTypeList" :value="queryType">{{queryType}}</option>
                </select>
                <button id="searchBtn" type="button" class="btn btn-secondary btn-search" v-on:click="updateSearchResults"><span class="label-icon">Search</span></button>
            </div>
        </div>
    </div>
    <div id="catalogue">
        <div class="row">
            <div class="col-md-4" v-for="(literature, index) in literatureList">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="col-md-6 card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">{{ literature.title }}</strong>
                        <span class="mb-0">
                            <span> By </span><span v-for="author in literature.authors">{{author}}, </span>
                        </span>
                        <h6 class="card-text mb-auto" style="margin-top:10px">{{literature.summary}}</h6>
                        <button type="button" class="btn btn-primary" onclick="toggleElementVisibility('catalogue', 'singleItem')"><i
                                class="fa fa-search"></i>
                            Quick View</button>
                    </div>
                    <div class="col-md-6">
                        <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" v-bind:src="'/assets/images/' + literature.thumbnail"
                            style="width: 200px; height: 250px;">
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3" v-if="noResults"> 
                <h1> No results found! Please modify search criteria. </h1>
            </div>
        </div>
    </div>
    <div id="singleItem" style="display : none">
        <div>
            <div class="row">
                <div class="offset-md-1">
                    <h3 class="modal-title" id="myModalLabel">History</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-md-1 book-img">
                    <img src="../assets/images/booksimage.jpg" class="img-responsive">
                </div>
                <div class="col-md-4 product_content">
                    <h4>Product Id: <span>51526</span></h4>
                    <div class="rating">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        (10 reviews)
                    </div>
                    <p>A hardback (with its original hard cover slip-case & dust-jacket) copy of ‘The Times
                        Complete History of the World’ by Richard Overy, which was published in 2011.</p>

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <select class="form-control" name="select">
                                <option value="" selected="">rent</option>
                                <option value="rate">rate</option>
                            </select>
                        </div>
                        <!-- end col -->


                        <div class="col-md-4 col-sm-12">
                            <select class="form-control" name="select">
                                <option value="" selected="">QTY</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                        <!-- end col -->
                    </div>
                    <div class="space-ten"></div>
                    <div class="btn-ground">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span>
                            Add To Cart</button>
                        <br />
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span>
                            Add To Wishlist</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="welcomeError" style="display: none">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h3> Unable to fetch literatures, please try again after some time. </h3>
        </div>
    </div>
</div>
<script>
    var app;
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:3000/literatures",
            success: function (data) {
                handleAjaxSuccess(data);
            },
            error: function () {
                handleAjaxError()
            }
        });
    })

    function handleAjaxSuccess(ajaxData) {
        console.log(ajaxData)
        app = new Vue({
            el: '#welcome',
            data: {
                literatureList: ajaxData,
                searchSelection: {
                    query: '',
                    queryType: 'all',
                    queryTypeList : ['all', 'title', 'author', 'publisher name', 'tags']
                },
                noResults: false,
                literature : undefined
            },
            methods : {
                updateSearchResults : function(event) {
                    var self = this
                    var ajaxUrl = 'http://localhost:3000/literatures'
                    if(self.searchSelection.queryType == 'all')
                    {
                        ajaxUrl = 'http://localhost:3000/literatures/search'
                    }
                    else if(self.searchSelection.queryType == 'title')
                    {
                        ajaxUrl = 'http://localhost:3000/literatures/searchtitle'
                    }
                    else if(self.searchSelection.queryType == 'author')
                    {
                        ajaxUrl = 'http://localhost:3000/literatures/searchauthor'
                    }
                    else if(self.searchSelection.queryType == 'publisher name')
                    {
                        ajaxUrl = 'http://localhost:3000/literatures/searchpublishers'
                    }
                    else if(self.searchSelection.queryType == 'tags')
                    {
                        ajaxUrl = 'http://localhost:3000/literatures/searchtags'
                    }

                    $.ajax({
                        url: ajaxUrl,
                        beforeSend: function(request) {
                            request.setRequestHeader("search-query", "{\"query\" : \""+self.searchSelection.query +"\"}");
                        },
                        success: function (data) {
                            app.handleSearchSuccess(data);
                        },
                        error: function () {
                            handleAjaxError()
                        }
                    });

                },
                handleSearchSuccess : function(newData)
                {
                    console.log('search return')
                    var self = this
                    if(newData && newData.length > 0)
                    {
                        self.noResults = false
                        self.literatureList = newData
                    }
                    else
                    {
                        self.literatureList = newData
                        self.noResults = true
                    }
                },
                selectLiterature : function(event){
                    
                }
            },
            mounted: function () {
                var self = this
                self.$nextTick(function () {
                    if(self.literatureList && self.literatureList.length > 0){   
                        self.noResults = false
                    } 
                    else {
                        self.noResults = true
                    }
                })
            }

        })
    }

    function handleAjaxError() {
        $('welcome').hide();
        $('welcomeError').show();
    }

</script>

<% include partials/footer %>