<% include partials/header %>
<br>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <ul style="list-style-type: none;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Browse
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Author</a>
                <a class="dropdown-item" href="#">Publisher Name</a>
                <a class="dropdown-item" href="">Rating</a>
            </div>
        </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">History</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                </h6>
                <div class="mb-1 text-muted small">Nov 12</div>
                <p class="card-text mb-auto">History (from Greek ἱστορία - historia, meaning "inquiry, knowledge
                    acquired by investigation") is the discovery, collection, organization, and presentation of
                    information about past events.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue
                    reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="../assets/images/booksimage.jpg"
                style="width: 200px; height: 250px;">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">History</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">80 Percent of People Can’t Afford Basics</a>
                </h6>
                <div class="mb-1 text-muted small">Nov 13</div>
                <p class="card-text mb-auto">History (from Greek ἱστορία - historia, meaning "inquiry, knowledge
                    acquired by investigation") is the discovery, collection, organization, and presentation of
                    information about past events.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue
                    reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="../assets/images/booksimage.jpg"
                style="width: 200px; height: 250px;">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">History</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">89 Percent of People Can’t Afford Basics</a>
                </h6>
                <div class="mb-1 text-muted small">Nov 14</div>
                <p class="card-text mb-auto">History (from Greek ἱστορία - historia, meaning "inquiry, knowledge
                    acquired by investigation") is the discovery, collection, organization, and presentation of
                    information about past events. </p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue
                    reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="../assets/images/booksimage.jpg"
                style="width: 200px; height: 250px;">
        </div>
    </div>
</div>
<% include partials/footer %>