<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron pageHeaderCust">
            <h1>TheBookQuest</h1>      
            <p>Meet your next favorite book.</p>
        </div>
        <% include message %>