<html>

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/common.js"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <% if (locals.user) { %>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="https://unpkg.com/vuejs-datepicker@1.5.4/dist/vuejs-datepicker.min.js"></script>
    <% } %>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/welcome" title="Meet your next favorite book.">TheBookQuest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if (locals.user) { %>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" id="home">
                        <a class="nav-link" href="/welcome" id="homeAnchor">Home</a>
                    </li>
                    <li class="nav-item" id="request">
                        <a class="nav-link" href="/request" id="requestAnchor">Request</a>
                    </li>
                    <li class="nav-item" id="contactUs">
                        <a class="nav-link" href="/contact" id="contactUsAnchor">Contact Us</a>
                    </li>
                </ul>
                <ul class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-user"></span> 
                        <strong><%= locals.user.firstname + ' ' + locals.user.lastname%></strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile">Your profile</a>
                        <a class="dropdown-item" href="/orders">Your orders</a>
                        <a class="dropdown-item" href="/yourRequests">Your requests</a>
                        <a class="dropdown-item" href="/users/logout">Log out</a>
                    </div>
                </ul>
            </div>
            <% } %>
        </nav>
        <% include message %>